.container {
  text-align: center;
  color: white;
  /* color: black; */
}


.subheading {
  /* color: #555; */
  color: white;
}

.background-wrapper {
  position: relative;
  width: 100vw; /* 전체 화면 너비를 차지하도록 설정 */
  height: 115vh; /* 전체 화면 높이를 차지하도록 설정 */
  overflow: hidden; /* 자식 요소가 요소를 넘어가지 않도록 설정 */
}